*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    background: linear-gradient(#111,#222 );
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    width:100% ;
    height: 100%;
    background:red;
    position: absolute;
    clip-path: circle(35% at right 70%);
    z-index: -1;
}
.container{
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
nav ul li{
    display: inline-block;
    margin: 0 6px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 5400;
}
nav ul li a:hover{
    color: red;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.text{
    color: white;
    width: 40%;
}
 .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

}
.text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.image{
    width: 40%;

}
.image img{
    width: 400px;
}

@media (min-width:950px) and (max-width:1150px){
    .image img{
        width: 300px;
    }
}
@media (min-width:730px) and (max-width:950px){
    .content, .nav{
        flex-direction: column;
        justify-content: center;
        
    }
    .image, .text{
        width: 80%;
    }
    body::after{
        content: '';
        width:100% ;
        height: 100%;
        background: red;
        position: absolute;
        clip-path: circle(50% at bottom);
    }
}
    @media  (min-width:690px) and  (max-width:730px){
        .content, .nav{
            flex-direction: column;
            justify-content: center;
            
        }
        .image, .text{
            width: 80%;
        }
        body::after{
            content: '';
            width:100% ;
            height: 100%;
            background: red;
            position: absolute;
            clip-path: circle(45% at bottom);
    }
}
@media (max-width:690px){
    .content, .nav{
        flex-direction: column;
        justify-content: center;
        
    }
    .image, .text{
        width: 100%;
    }
    body::after{
        content: '';
        width:100% ;
        height: 100%;
        background: red;
        position: absolute;
        clip-path: circle(45% at bottom);
}

}

